# Core dependencies
pip>=23.3; sys_platform == 'darwin'
wheel; sys_platform == 'darwin'
PyYAML; sys_platform == 'darwin'
numpy<2
requests
tqdm
wget

# Audio processing
ffmpeg-python
faiss-cpu==1.7.4
librosa
scipy
soundfile
noisereduce
pedalboard
stftpitchshift
soxr

# Machine learning and deep learning
omegaconf; sys_platform == 'darwin'
numba
torch==2.4.0; sys_platform == 'darwin'
torchaudio==2.4.0; sys_platform == 'darwin'
torchvision==0.19.0; sys_platform == 'darwin'
torchcrepe
torchfcpe
einops
transformers
beautifulsoup4

# Visualization and UI
matplotlib
tensorboard
tensorboardX

# Miscellaneous utilities
certifi; sys_platform == 'darwin'
antlr4-python3-runtime
edge-tts
webrtcvad
mlx; sys_platform == 'darwin'
